<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div class="box">
      <h1>Sign in</h1>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.email, placeholder="Your Email Address",
                                  autofocus="", class="signin") }}
      {{ render_field(form.password, placeholder="Password",
                                  autofocus="", class="signin") }}
      
      <div>
      <label>
        <input type="checkbox" name="remember" value="1"> Remember Me
      </label>
      </div>
      <button type="submit" class="btn" name="submit">Sign in</button>
      <a href="/auth/signup" id="btn2">Sign Up</button>
      <a href="#" onclick='forgotPassword()'><font size="2" style="color:#f1c40f;">Forgot your password?</font></a><span class="clearfix"></span>
    </form>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='javascript/auth.js') }}" defer></script>