# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

#JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
*.idea/

#Finder files
*.DS_Store