{% extends 'base/base.html' %}

{% block title %} Lista de usuarios {% endblock %}

{% block specific_includes %}
        <script src="{{ url_for('static', filename='javascript/list.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css') }}">
{%endblock%}

{% block custom_script %}
    let socket
    $(document).ready(() => {
        initializeSocket();
    if(getQueryVariable('tab') == 'grupos'){
        $('.nav-tabs a[href="#grupos"]').tab('show');
    }


    });
{% endblock %}



{% block body %}
    {% import 'macros/macros.html' as macros %}
    {{ macros.navbar(actual_user.name) }}
    {% macro render_field(field, placeholder=None) %}
    {% if field.errors %}
    <div>
    {% elif field.flags.error %}
    <div>
    {% else %}
    <div>
    {% endif %}
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
    {% endmacro %}

<ul id="myTabs" class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#usuarios">Usuarios</a></li>
    <li role="presentation"><a href="#grupos">Grupos</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active top-padding" id="usuarios">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 image_back no-padding">
                    <ul class="list-group  no-margin-bottom">
                        {% for user in users %}
                        <a user id="user_{{user.id}}" user_id="{{user.id}}" class="item list-group-item">
                            <span unread_count="0" class="badge badge-primary badge-pill"></span>
                            <h4 name class="list-group-item-heading">{{user.name}}</h4>
                            <p last_received class="list-group-item-text"></p>
                            <img src='' class="list-image">
                            <audio id="user_{{user.id}}_audio" style="display:none;" controls>
                                <source audio_source src="">
                            </audio>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane top-padding" id="grupos">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6 image_back no-padding">
                        <ul class="list-group no-margin-bottom">
                             {% for group in groups %}
                                <a group id="group_{{group.id}}" group_id="{{group.id}}" class="list-group-item">
                                    <span unread_count="0" class="badge badge-primary badge-pill"></span>
                                    <h4 name class="list-group-item-heading">{{group.name}}</h4>
                                    <p class="list-group-item-text"><span last_received_from style="font-weight:bold"></span><span last_received></span> </p>
                                    <img src='' class="list-image">
                                    <audio id="group_{{group.id}}_audio" style="display:none;" controls>
                                        <source audio_source src="">
                                    </audio>
                                </a>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form" name="addGroup" action="{{url_for('group.addGroup')}}" method="POST" role="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div>
                {% for error in errors %}
                {{ error }}<br>
                {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                {% if form.errors %}
                <div>
                {% for field, error in form.errors.items() %}
                {% for e in error %}
                {{ e }}<br>
                {% endfor %}
                {% endfor %}
                </div>
                {% endif %}
                <div class="modal-body">
                    <div style="padding-top: 15px;" >
                    {{ form.name }}
                    </div>

                    {{ form.csrf_token }}
                    <div style="padding-top: 15px;" >
                        {{ form.members.label }}
                        {{ form.members }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input id="create_group" type="submit" class="btn btn-primary" value="Crear grupo"/>
                </div>
            </form>
        </div>
    </div>
</div>

    
    {% if form.errors %}
      <script type="text/javascript">
        $(window).on('load',function(){
            $('#exampleModal').modal('show');
        });
      </script>
    {% endif %}
{% endblock %}
