{% extends 'base/base.html' %}

{% block title %} Index {% endblock %}

{% block body %}
    {% import 'macros/macros.html' as macros %}
    {{ macros.navbar(actual_user.name.decode()) }}

    <ul id="myTabs" class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#usuarios">Usuarios</a></li>
      <li role="presentation"><a href="#grupos">Grupos</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="usuarios">
            <ul class="list-group">
              {% for user in users %}
                  <a user id={{user.id}} class="list-group-item">
                    <span unread_count="0" class="badge badge-primary badge-pill"></span>
                    <h4 name class="list-group-item-heading">{{user.name}}</h4>
                    <p last_received class="list-group-item-text"></p>
                  </a>
              {% endfor %}
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="grupos">
            {% for group in groups %}
                 <a group id={{group.id}} class="list-group-item">
                    <span unread_count="0" class="badge badge-primary badge-pill"></span>
                    <h4 name class="list-group-item-heading">{{group.name}}</h4>
                    <p last_received class="list-group-item-text"></p>
                 </a>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/list.js') }}"></script>
{% endblock %}
