{% extends 'base/base.html' %}

{% block title %} Chat with {{ chatTitle }}{% endblock %}

{% block custom_script %}

    let socket
    let recipients
    let conversationId
    let loggedUserName
            $(document).ready(() => {
                recipients = [];
                {% for user in recipientsList %}
                    var recipientId = {{user.id}};
                    recipients.push(recipientId);
                {% endfor %}

                //necesito setear estas variables a nivel java script porque la necesita el audio.js
                conversationId = {{conversation.id}};
                loggedUserName = '{{ actual_user.name.decode()}}';

                socket = io.connect('http://' + location.host + '/chat');

                socket.on('connect', function() {
                    socket.emit('joined');
                });

                socket.on('uiTextMessage', function(data) {
                    appendNewMessage($("<p text class='list-group-item-text'>" + data.msg + "</p>"), data.from);
                });

                socket.on('add-wavefile', function(data) {
                    appendNewMessage($("<audio src='" + data.url + "' controls>"), data.from);
                });

                socket.on('image', data => {
                    var arrayBuffer = data.image;
                    var bytes = new Uint8Array(arrayBuffer);
                    var from = data.loggedUserName;
                    appendNewMessage($("<img src='data:image/png;base64," + encode(bytes) + "' />"), data.from);
                });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('textMessage', text, recipients, conversationId, loggedUserName);
                    }
                });

                $("#chat [messages]").scrollTop(Number.MAX_SAFE_INTEGER)

                function appendNewMessage(element, from){
                        var newMessageElement = $("<a user class='list-group-item'>")
                        newMessageElement.append($("<h4 name class='list-group-item-heading'>" + from + "</h4>"))
                        newMessageElement.append(element)
                        var isLoggedUserMessage = from == '{{actual_user.name.decode()}}';

                        if (isLoggedUserMessage)
                        {
                            newMessageElement.addClass("loggedUserMessage");
                        }

                        $("#chat [messages]").append(newMessageElement);
                        $("#chat [messages]").scrollTop(Number.MAX_SAFE_INTEGER)
                }

                $("#file").on("change", function (e) {
                    var file = $(this)[0].files[0];
                    var fileReader = new FileReader();
                    if (file) {
                        fileReader.readAsArrayBuffer(file);
                        fileReader.onload = function () {
                            var imageData = fileReader.result;
                            socket.emit('imageMessage', imageData, recipients, conversationId, loggedUserName);
                        };
                    }
                });

                function encode (input) {
                    var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
                    var output = "";
                    var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
                    var i = 0;

                    while (i < input.length) {
                        chr1 = input[i++];
                        chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index
                        chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

                        enc1 = chr1 >> 2;
                        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                        enc4 = chr3 & 63;

                        if (isNaN(chr2)) {
                            enc3 = enc4 = 64;
                        } else if (isNaN(chr3)) {
                            enc4 = 64;
                        }
                        output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
                                  keyStr.charAt(enc3) + keyStr.charAt(enc4);
                    }
                    return output;
                }

            });
{% endblock %}


{% block body %}
        {% import 'macros/macros.html' as macros %}
        {{ macros.navbar(actual_user.name.decode()) }}

        <h1>Chat with: {{ chatTitle.name }}</h1>


            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8">
                    <div role="tabpanel" class="tab-pane active" id="chat">
                        <ul messages class="list-group">
                            {% for message in conversation.messages%}
                              <a user class='list-group-item {{ 'loggedUserMessage' if  (message.fromUser.name.decode() == actual_user.name.decode()) else ''}}'>
                                <h4 name class="list-group-item-heading">{{message.fromUser.name.decode()}}</h4>
                                {% if message.type == 'text' %}
                                    <p text class="list-group-item-text">{{message.payload}}</p>
                                {% endif %}
                                {% if message.type == 'audio' %}
                                    <audio src='/static/_files/audio/{{message.payload}}' controls>
                                {% endif %}
                               {% if message.type == 'image' %}
                                    <img src='/static/_files/image/{{message.payload}}' />
                                {% endif %}
                              </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                         <img id="record" src="{{ url_for('static', filename='img/mic128.png') }}" onclick="toggleRecording(this);">
                         <img id="imageIcon" height="100" width="100" src="{{ url_for('static', filename='img/image_icon.jpg') }}" onclick="$('#file').click()">

                    </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                     <input id="text" size="80" placeholder="Enter your message here">
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
        <a href="#" >Leave this room(TODO: redirect to chat list)</a>
        <input style="display:none" type="file" id="file" name="file">
        <script src="{{ url_for('static', filename='javascript/audio.js') }}"></script>
{% endblock %}


