{% extends 'base/base.html' %}

{% block title %} Chat with {{ chatTitle }}{% endblock %}

{% block custom_script %}

    let socket
    let recipients
    let conversationId
    let loggedUserName
            $(document).ready(() => {
                recipients = [];
                {% for user in recipientsList %}
                    var recipientId = {{user.id}};
                    recipients.push(recipientId);
                {% endfor %}

                //necesito setear estas variables a nivel java script porque la necesita el audio.js
                conversationId = {{conversation.id}};
                loggedUserName = '{{ actual_user.name.decode()}}';

                {% for message in conversation.messages%}
                    $('#chat').val($('#chat').val() + '{{message.fromUser.name.decode()}}'+ ': '+ '{{message.payload}}' + '\n');
                {% endfor %}
                $('#chat').scrollTop($('#chat')[0].scrollHeight);

                socket = io.connect('http://' + location.host + '/chat');

                socket.on('connect', function() {
                    socket.emit('joined');
                });

                socket.on('uiTextMessage', function(data) {
                    var newMessageElement = $("<a user class='list-group-item'>")
                    newMessageElement.append($("<h4 name class='list-group-item-heading'>" + data.from + "</h4>"))
                    newMessageElement.append($("<p text class='list-group-item-text'>" + data.msg + "</p>"))
                    $("#chat [messages]").append(newMessageElement);
                });

                socket.on('add-wavefile', function(data) {
                    // add new recording to page
                    var newMessageElement = $("<a user class='list-group-item'>")
                    newMessageElement.append($("<h4 name class='list-group-item-heading'>" + data.from + "</h4>"))
                    newMessageElement.append($("<audio src='" + data.url + "' controls>"))
                    $("#chat [messages]").append(newMessageElement);
                });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('textMessage', {msg: text, toIds: JSON.stringify(recipients), conversationId:{{conversation.id}}, fromName: '{{ actual_user.name.decode()}}' });
                    }
                });
            });
{% endblock %}


{% block body %}
        {% import 'macros/macros.html' as macros %}
        {{ macros.navbar(actual_user.name.decode()) }}

        <h1>Chat with: {{ chatTitle.name }}</h1>


        <div role="tabpanel" class="tab-pane active" id="chat">
            <ul messages class="list-group">
                {% for message in conversation.messages%}
                  <a user class="list-group-item">
                    <h4 name class="list-group-item-heading">{{message.fromUser.name.decode()}}</h4>
                    <p text class="list-group-item-text">{{message.payload}}</p>
                  </a>
                {% endfor %}
            </ul>
        </div>

        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" >Leave this room(TODO: redirect to chat list)</a>
        <div id="viz">
            <div id="wavedisplay">
                <div id="wavefiles">
                </div>
            </div>
        </div>
        <div id="controls">
            <img id="record" src="{{ url_for('static', filename='img/mic128.png') }}" onclick="toggleRecording(this);">
        </div>


 <script src="{{ url_for('static', filename='javascript/audio.js') }}"></script>


{% endblock %}


