/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

#analyser {
    display: inline-block;
    background: #202020;
    width: 95%;
    height: 45%;
    box-shadow: 0px 0px 10px blue;
}
#wavedisplay {
    display: inline-block;
    background: #ffffff;
    overflow-y: scroll;
    width: 95%;
    height: 45%;
    box-shadow: 0px 0px 10px blue;
}
#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
}
#record { height: 15vh; }
#record.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
}
.loggedUserMessage {
    text-align : right;
}

.list-group{
    max-height: 500px;
    overflow-y:scroll;
}

@media (orientation: landscape) {
    body { flex-direction: row;}
    #controls { flex-direction: column; height: 100%; width: 10%;}
    #viz { height: 100%; width: 90%;}
}
