<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
    <title>{{ config.appName }} - {% block title %}{%endblock%}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialicons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jQuery/jquery-3.3.1.slim.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/socket.io.min.js') }}"></script>


    {% block specific_includes %}{%endblock%}

    <script>
      {% block custom_script %}{%endblock%}
    </script>
</head>
    <body>
    {% block body %}{%endblock%}
    </body>
</html>
