{% macro conversationMacro(id, title, messages) -%}
    <p>{{ id }}</p>
    <p>{{ title }}</p>
    {% for message in messages %}
    <div>
      <span>{{ message.message.text }}</span>
    </div>
    {% endfor %}
{%- endmacro %}

<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {

                var socket;

                var socket = io.connect('http://127.0.0.1:5000');

                socket.on('connect', function() {
                    socket.emit('userLogged', {
                                                "name": '' + $.parseJSON($('#user').val().replace(/\'/g, '\"')).username + ''
                                             });
                });


                //handler del evento recibir un nuevo mensaje
                socket.on('message', function(msg) {
                    var from = $.parseJSON(msg.replace(/\'/g, '\"')).from;
                    var message = $.parseJSON(msg.replace(/\'/g, '\"')).message;
                    $("#messages").append('<li>' + from + ': ' + message + '</li>');
                    console.log('Received message');
                });

                //handler del evento "new user"
                socket.on('new user', function(users) {
                    $('#users').empty()
                    $.each(users, function (index,value) {
                          $('#users').append($('<option>', {
                                    value: value,
                                    text: value
                                }))
                    });
                });

                //mandar un mensaje
                $('#sendbutton').on('click', function() {
                    socket.emit('new message', {
                                                'from': $.parseJSON($('#user').val().replace(/\'/g, '\"')).username,
                                                'to': $('#users').val(),
                                                'message': $('#myMessage').val(),
                                             });
                    $('#myMessage').val('');
                });

            });

		</script>



        {% for conversation in conversations %}
        <div>
           {{ conversationMacro(conversation.id, conversation.title, conversation.messages) }}
        </div>
        {% endfor %}

        <input id="user" type="hidden" value="{{ user }}"></input>
        <ul id="messages"></ul>

        <div id="messageDiv">
			Message:
			<input type="text" id="myMessage">
			<button id="sendbutton">Send to: </button>
			<select id="users"></select>
		</div>

    </body>
</html>
